<div class="education form-section p-4 bg-rgb-green w-100 height-100vh m-0">
  <form [formGroup]="educationForm">
    <h3 class="text-center mb-4">Let's Start with your Education</h3>
    <div class="education-container" formArrayName="education">
      <!-- Education Input Fields -->
      <div *ngFor="let educationGroup of educationArray.controls; let i = index"
        class="education-input mb-4 d-flex flex-column" [formGroupName]="i">
        <h1>Education {{i+1}}</h1>
        <button type="button" (click)="removeEducation(i)" class="btn btn-danger align-self-end">Remove</button>
        <div class="d-flex justify-content-between mb-2">
          <div class="m-2 flex-fill">
            <label for="school">School/University</label>
            <input type="text" formControlName="institution" class="form-control" placeholder="Enter School/University">
          </div>
          <div class="m-2 flex-fill">
            <label for="degree">Degree</label>
            <input type="text" formControlName="degree" class="form-control" placeholder="Enter Degree">
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="m-2 flex-fill">
            <label for="year">Year</label>
            <input type="text" formControlName="year" class="form-control" placeholder="Enter Year">
          </div>
          <div class="m-2 flex-fill">
            <label for="percentage">Percentage / CGPA</label>
            <input type="text" formControlName="percentage" class="form-control"
              placeholder="Enter Percentage / CGPA">
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="m-2 flex-fill">
            <label for="board">Board</label>
            <input type="text" formControlName="board" class="form-control" placeholder="Enter Board">
          </div>
          <div class="m-2 flex-fill">
            <label for="location">Location</label>
            <input type="text" formControlName="location" class="form-control" placeholder="Enter location">
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="addEducation()" class="btn btn-primary">Add Education</button>
    <div class="d-flex flex-row justify-content-between mt-4">
      <a class="btn btn-primary" [routerLink]="['/profile']">
        <i class="fas fa-arrow-left p-2"></i> Previous
      </a>
      <a class="btn btn-primary" (click)="onSubmit()" [routerLink]="['/skills']">
        Next <i class="fas fa-arrow-right p-2"></i>
      </a>
    </div>

  </form>
</div>